.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 10px 20px;
}

.navLink {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  place-items: center;
}
.navLogo {
  display: flex;
  /* border: 2px solid black; */
  text-transform: uppercase;
  align-items: center;
  font-weight: bold;
  font-size: 22pt;
  font-family: optima;
  /* color: black; */
  color: aliceblue;
  padding: 10px 20px;

 
}
.navLinks > a {
  text-decoration: none;
  border: none;
  font-weight: 500;
  /* color: black; */
  color: white;
}
.navLinks > a.hover {
  text-decoration: none;
  border: none;
  color: #df784d;
}

.glow {
  font-size: 35px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00c700, 0 0 40px #00c700, 0 0 50px #00c700, 0 0 60px #00c700, 0 0 70px #00c700;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1aff1a, 0 0 40px #1aff1a, 0 0 50px #1aff1a, 0 0 60px #1aff1a, 0 0 70px #1aff1a, 0 0 80px #1aff1a;
  }
}