.app {
  background: url(../src/assests/HomeBG1.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  padding: 10px 20px;
}
.text1 {
  margin-top: 30px;
  margin-left: 90px;
  font-size: 35px;
  font-weight: 500;
  /* padding: 10px; */
  font-family: "Georgia", Serif;
  /* font-style: oblique; */
  font-weight: bold;
  color: white;
  text-shadow: rgb(0, 255, 21) 1px 0 10px;
}

.text2 {
  margin-top: -20px;
  margin-left: 90px;
  font-size: 25px;
  font-weight: 500;
  font-family: "Georgia", Serif;
}
/* .textspan {
  font-size: 40px;
  font-weight: bold;
} */
.text3 {
  margin-top: -20px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 500;
  font-family: "Georgia", Serif;
}
